
/*#region variables and global styling*/

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Slab:wght@300&family=Shadows+Into+Light&display=swap');

* {
    --header_height: 100px;
    --footer_height: 100px;

    --start_height: 100vh;
    --start_width: 60vw;

    --about_height: 130vh;
    --about_width: 60vw;

    --menu_height: 100vh;
    --menu_width: 60vw;

    --menu_item_height: 40vh;
    --menu_item_info_height: 10vh;
    --menu_item_width: 15vw;

    --nav_item_width: 150px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    font-family: 'Lora', serif;
}

body {
    background-color: black;
    color: #f5deb3;
    width: 100vw;
}


p {
    overflow: hidden;
    font-size: 1rem;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;

}

h2 {
    font-size: 1.5rem;
    text-align: center;
}

/*#endregion*/

/*#region homepage*/

#start_grid_wrapper {
    display: grid;
    grid-column: var(--header_height) var(--start_height) var(--footer_height);
    grid-row: 100vw;
    grid-template-areas: 
    "head"
    "page"
    "foot";
}

#start_bg_image {
    height: var(--start_height);
}

#start_page {  
    grid-area: page;
    position: relative;
    margin-left: calc((100vw - var(--start_width))/2);

    width: var(--start_width);
    height: var(--start_height);

    background-color: rgba(0,0,0,0.5);
    padding: 40px;
    gap: 20px;
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: 
    "wel wel"
    "inf_t inf_i"
    "tex2 tex3";
}

#start_welcome {
    grid-area: wel;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#start_info {
    grid-area: inf_t;
}

#start_info_img img {
    height: 25vh;
    width: auto;
}

#start_info_img {
    grid-area: inf_i;
}

#start_text_2 {
    grid-area: tex2;
}

#start_text_3 {
    grid-area: tex3;
}
/*#endregion*/

/*#region about page*/

#about_grid_wrapper {
    display: grid;
    grid-column: var(--header_height) var(--about_height) var(--footer_height);
    grid-row: 100vw;
    grid-template-areas: 
    "head"
    "page"
    "foot";
}

#about_page {  
    grid-area: page;
    position: relative;
    margin-left: calc((100vw - var(--about_width))/2);

    width: var(--about_width);
    height: var(--about_height);

    background-color: rgba(0,0,0,0.5);
    padding: 40px;
    gap: 20px;
    
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: 
    "general general"
    "contact mission"
    "people people";
}

#about_bg_image {
    height: var(--about_height);
}

#about_about {
    grid-area: general;
    margin-left: 20%; /*please write less placeholder code and why the frick does this work?*/
    width: 60%;
}

#about_contact {
    grid-area: contact;
    padding: 20px;
    border: solid 4px #f5deb3;
}

#about_mission {
    grid-area: mission;

    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "image header"
    "image text";

    gap: 20px;
}

#about_mission_header {grid-area: header;}
#about_mission_p {grid-area: text;}
#about_mission_img {
    grid-area: image;
    height: 100%;
    width: 100%;
}

#about_employees {
    grid-area: people;
    height: fit-content;
}

#about_employees_list {
    margin-top: 20px;
    display: flex;

    justify-content: space-between;
}

.employee {
    background-color: #18273a;
    width: 220px;
}

.employee p, h3 {
    padding: 5px;
    text-align: center;
}

.employee_img {
    height: 250px;
    width: inherit;
}

/*#endregion*/

/*#region menu page*/

#menu_grid_wrapper {
    display: grid;
    grid-column: var(--header_height) var(--menu_height) var(--footer_height);
    grid-row: 100vw;
    grid-template-areas: 
    "head"
    "page"
    "foot";
}

#menu_bg_image {
    height: var(--menu_height);
}

#menu_page {
    grid-area: page;
    position: relative;
    margin-left: calc((100vw - var(--menu_width))/2);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;

    height: var(--menu_height);
    width: var(--menu_width);
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    
}

.menu_item {
    display: grid;
    grid-template-areas: 
    "img"
    "text";

    
    grid-template-rows: 5fr 1fr;
    box-shadow: 0px 0px #1a2238;
    margin-top: 0px;
    
    animation-name: menu_item_unhover;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    
    height: var(--menu_item_height);
    width: var(--menu_item_width);
    
    background-color: #18273a;
}

.menu_item_img_div {
    grid-area: img;
    overflow-y: hidden;
    width: inherit;
}

.menu_item_img {
    position: relative;
    width: inherit;
    height: auto;
}

.menu_item_info {
    grid-area: text;
    width: inherit;
    height: 100%;
    overflow: hidden;
}

.menu_item p {
    display: none;
}

.menu_item:hover p {
    display: block;
    padding: 10px;
}

.menu_item:hover {
    grid-template-rows: 1fr 1fr;
    box-shadow: 5px 10px #1a2238;
    margin-top: -10px;


    animation-name: menu_item_hover;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

@keyframes menu_item_hover {
    from {
        grid-template-rows: 5fr 1fr;
        box-shadow: 0px 0px #1a2238;
        margin-top: 0px;
    }
    to {
        grid-template-rows: 1fr 1fr;
        box-shadow: 5px 10px #1a2238;
        margin-top: -10px;
    }
}

@keyframes menu_item_unhover {
    from {
        grid-template-rows: 1fr 1fr;
        box-shadow: 5px 10px #1a2238;
        margin-top: -10px;
    }
    to {
        grid-template-rows: 5fr 1fr;
        box-shadow: 0px 0px #1a2238;
        margin-top: 0px;
    }
}

/*#endregion*/

/*#region header, footer and hamburger*/

header {
    
    height: var(--header_height);
    grid-area: head;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #051622;
    
}

.logo {
    width: var(--nav_item_width);
    height: auto;
}

.ham_icon {
    width: var(--nav_item_width);
    height: auto;    
}

.ham_icon:hover {
    cursor: pointer;
    background-color: rgba(256, 256, 256, 0.3);
}

nav {
    grid-area: page;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    width: 100vw;
    height: 0px;

    background-color: #1a2238;

    animation-name: ham_slide_close;
    animation-duration: 0.3s;
    animation-iteration-count: 1;

    overflow: hidden;
}

nav a {
    color: #f5deb3;
    text-decoration: none;
}

nav.hamburger_visible {
    height: calc(var(--header_height) / 2);

    animation-name: ham_slide_open;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}




.ham_list_items:hover {
    background-color: rgba(256,256,266,0.3);
}

@keyframes ham_slide_open {
    from {
        height: 0px;
    }
    to {
        height: calc(var(--header_height) / 2);
    }
}

@keyframes ham_slide_close {
    from {
        height: calc(var(--header_height) / 2);
    }
    to {
        height: 0px;
    }
}

.bg_div {
    overflow: hidden;
    position: absolute;
    top: var(--header_height);
    left: 0px;
}

.bg_img {
    width: 100vw;
    filter: saturate(120%) blur(2px);
}

footer {
    grid-area: foot; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: var(--footer_height);
    width: 100vw;
    background-color: #051622;
    
        text-decoration:solid;
        letter-spacing: 2px;
}

/*#endregion*/
