/*
Olika färgteman som jag kanske anvönder 
*/

#jungle_1
{
    color: #fff2d3;
    color: #b4d891;
    color: #b68944;
    color: #11672c;
    color: #084211;
}

#aqua_1
{
    
    color: #051622;
    color: #1ba098;
    color: #deb992;
    color: #1a2238;
    color: #f5deb3;
    color: #001515;
    color: #003e3f;
    color: #0e2f5c;

}